html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.loja-produtos *{
    text-decoration: none;
    color: black;
}
.btn-group{
    margin: 0 8rem
}
